<%- include("partials/header") %>

<div class="success-container">
    <div class="success-card">
        <h1>Order Successful!</h1>
        <p>Thanks for your purchase. Your order has been placed successfully.</p>
        <a href="/" class="btn">Back to Home</a>
    </div>
</div>

<!-- Canvas Confetti -->
 <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
 <script>
    window.addEventListener("load", () => {
        // Burst confetti from left
        confetti({
            particleCount: 150,
            angle: 60,
            spread: 55,
            origin: {x: 0}
        });

        // Burst from right
        confetti({
            particleCount: 150,
            angle: 150,
            spread: 55,
            origin: {x: 1}
        });

        // Continuous fall for 3 seconds
        const duration = 3 * 1000; //3 seconds
        const end = Date.now() + duration;

        (function frame() {
            confetti({
                particleCount: 5,
                spread: 70,
                origin: {x: Math.random(), y: 0}
            });
            if (Date.now() < end) {
                requestAnimationFrame(frame);
            }
        })();
    });
 </script>

 <%- include("partials/footer") %>