<%- include("partials/header") %>

<div class="success-container">
    <div class="success-card">
        <h1>Order Successful!</h1>
        <p>Thanks for your purchase. Your order has been placed successfully.</p>
        <a href="/" class="btn">Back to Home</a>
    </div>
</div>

<!-- Canvas Confetti -->
 <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
 <script>
    window.addEventListener("load", () => {
        // Fire confetti once
        confetti({
            particleCount: 200,
            spread: 90,
            origin: {y: 0.6}
        });
    });
 </script>

 <%- include("partials/footer") %>